apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: connectivity-infra-all-in-one
  namespace: openshift-gitops
spec:
  goTemplate: true
  generators:
    - list:
        elements:
          # Infrastructure - Plain applications
          - name: openshift-gitops
            namespace: openshift-gitops
            path: openshift-gitops
            sync_wave: "0"
            app_type: plain
          # OAuth HTPasswd IDP (disabled; uncomment to enable)
          # - name: oauth-ocp
          #   namespace: openshift-config
          #   path: oauth-ocp
          #   sync_wave: "1"
          #   app_type: plain
          - name: developer-hub
            namespace: developer-hub
            path: developer-hub
            sync_wave: "3"
            app_type: plain
          # servicemeshoperator3 in separate ApplicationSet (prune: false) so Istio-created Services are not pruned
          # Kuadrant CR in kuadrant-system (recommended namespace for the CR)
          - name: kuadrant-system
            namespace: kuadrant-system
            path: rhcl-operator/kuadrant-system
            sync_wave: "5"
            app_type: plain
          # After servicemeshoperator3 so Gateway API provider (Istio) is installed before Kuadrant/Authorino. Connectivity Link resources deploy to kuadrant-system.
          - name: rhcl-operator
            namespace: kuadrant-system
            path: rhcl-operator
            sync_wave: "6"
            app_type: plain
          - name: observability
            namespace: observability
            path: observability
            sync_wave: "5"
            app_type: plain
          - name: rhbk-operator
            namespace: rhbk-operator
            path: rhbk-operator
            sync_wave: "2"
            app_type: plain
          # RHBK with kustomize patches
          - name: rhbk
            namespace: rhbk-operator
            path: rhbk
            sync_wave: "2"
            app_type: kustomize
            keycloak_host: rhbk.apps.cluster-wjvhz.dynamic.redhatworkshops.io
            app_host: neuralbank.apps.cluster-wjvhz.dynamic.redhatworkshops.io
          # DevSpaces (will be handled by separate ApplicationSet)
          # LiteMaaS (cluster domain in litemaas/cluster-config.env; run update-cluster-domain.sh to set)
          - name: litemaas
            namespace: litemaas
            path: litemaas
            sync_wave: "6"
            app_type: plain
  template:
    metadata:
      name: '{{.name}}'
      annotations:
        argocd.argoproj.io/sync-wave: '{{.sync_wave}}'
    spec:
      project: default
      source:
        repoURL: 'https://github.com/maximilianoPizarro/connectivity-link.git'
        targetRevision: main
        path: '{{.path}}'
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{{.namespace}}'
      ignoreDifferences:
        # OIDCPolicy: Kuadrant reorders tokenSource (authorizationHeader name/prefix, cookie)
        - group: extensions.kuadrant.io
          kind: OIDCPolicy
          jsonPointers: ["/spec/auth"]
        # RateLimitPolicy: Kuadrant reorders limits (conditions/counters/rates) and targetRef
        - group: kuadrant.io
          kind: RateLimitPolicy
          jsonPointers: ["/spec/limits", "/spec/targetRef"]
        # Services created by Istio for Gateways (not in Git); ignore so no diff.
        - group: ""
          kind: Service
          namespace: litemaas
          name: litemaas-gateway-istio
          jsonPointers: ["/spec", "/status", "/metadata/annotations", "/metadata/labels", "/metadata/ownerReferences", "/metadata/creationTimestamp", "/metadata/resourceVersion", "/metadata/uid"]
        - group: ""
          kind: Service
          namespace: kuadrant-system
          name: neuralbank-gateway-istio
          jsonPointers: ["/spec", "/status", "/metadata/annotations", "/metadata/labels", "/metadata/ownerReferences", "/metadata/creationTimestamp", "/metadata/resourceVersion", "/metadata/uid"]
        # Gateway: ignore status and annotations (Istio adds status, etc.)
        - group: gateway.networking.k8s.io
          kind: Gateway
          namespace: litemaas
          jsonPointers: ["/status", "/metadata/annotations"]
        - group: gateway.networking.k8s.io
          kind: Gateway
          namespace: kuadrant-system
          jsonPointers: ["/status", "/metadata/annotations"]
        # KeycloakRealmImport: operator clears initialPassword after apply (avoid permanent diff)
        - group: k8s.keycloak.org
          kind: KeycloakRealmImport
          jqPathExpressions: [".spec.realm.users[].initialPassword"]
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - CreateNamespace=true
          - SkipDryRunOnMissingResource=true
          - RespectIgnoreDifferences=true
---
# servicemeshoperator3: prune disabled so Istio-created resources in istio-system are not deleted
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: connectivity-infra-servicemeshoperator3
  namespace: openshift-gitops
spec:
  goTemplate: true
  generators:
    - list:
        elements:
          - name: servicemeshoperator3
            namespace: openshift-operators
            path: servicemeshoperator3
            sync_wave: "3"
  template:
    metadata:
      name: '{{.name}}'
      annotations:
        argocd.argoproj.io/sync-wave: '{{.sync_wave}}'
    spec:
      project: default
      source:
        repoURL: 'https://github.com/maximilianoPizarro/connectivity-link.git'
        targetRevision: main
        path: '{{.path}}'
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{{.namespace}}'
      ignoreDifferences:
        - group: gateway.networking.k8s.io
          kind: Gateway
          namespace: istio-system
          jsonPointers: ["/status", "/metadata/annotations"]
      syncPolicy:
        automated:
          selfHeal: true
          prune: false
        syncOptions:
          - CreateNamespace=true
          - SkipDryRunOnMissingResource=true
          - RespectIgnoreDifferences=true
---
# Namespaces app with directory.exclude so Backstage catalog-info.yaml (CRDs not yet installed at sync_wave 1) is not applied
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: connectivity-infra-namespaces
  namespace: openshift-gitops
spec:
  goTemplate: true
  generators:
    - list:
        elements:
          - name: namespaces
            namespace: openshift-gitops
            path: namespaces
            sync_wave: "1"
  template:
    metadata:
      name: '{{.name}}'
      annotations:
        argocd.argoproj.io/sync-wave: '{{.sync_wave}}'
    spec:
      project: default
      source:
        repoURL: 'https://github.com/maximilianoPizarro/connectivity-link.git'
        targetRevision: main
        path: '{{.path}}'
        directory:
          exclude: catalog-info.yaml
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{{.namespace}}'
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - CreateNamespace=true
          - SkipDryRunOnMissingResource=true
          - RespectIgnoreDifferences=true
---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: operators-helm
  namespace: openshift-gitops
spec:
  goTemplate: true
  generators:
    - list:
        elements:
          - name: operators
            namespace: openshift-gitops
            path: operators
            sync_wave: "2"
  template:
    metadata:
      name: '{{.name}}'
      annotations:
        argocd.argoproj.io/sync-wave: '{{.sync_wave}}'
    spec:
      project: default
      source:
        repoURL: 'https://github.com/maximilianoPizarro/connectivity-link.git'
        targetRevision: main
        helm:
          valueFiles:
            - helm-values.yaml
        path: '{{.path}}'
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{{.namespace}}'
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - CreateNamespace=true
          - SkipDryRunOnMissingResource=true
          - RespectIgnoreDifferences=true
---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: connectivity-apps-helm-internal
  namespace: openshift-gitops
spec:
  goTemplate: true
  generators:
    - list:
        elements:
          - name: neuralbank-stack
            namespace: neuralbank-stack
            path: neuralbank-stack
            sync_wave: "5"
            keycloak_host: rhbk.apps.cluster-wjvhz.dynamic.redhatworkshops.io
            app_host: neuralbank.apps.cluster-wjvhz.dynamic.redhatworkshops.io
  template:
    metadata:
      name: '{{.name}}'
      annotations:
        argocd.argoproj.io/sync-wave: '{{.sync_wave}}'
    spec:
      project: default
      source:
        repoURL: 'https://github.com/maximilianoPizarro/connectivity-link.git'
        targetRevision: main
        helm:
          valueFiles:
            - values.yaml
        path: '{{.path}}'
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{{.namespace}}'
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - CreateNamespace=true
          - SkipDryRunOnMissingResource=true
          - RespectIgnoreDifferences=true
---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: devspaces
  namespace: openshift-gitops
spec:
  goTemplate: true
  generators:
    - list:
        elements:
          - name: devspaces
            namespace: devspaces
            path: devspaces
            sync_wave: "7"
  template:
    metadata:
      name: '{{.name}}'
      annotations:
        argocd.argoproj.io/sync-wave: '{{.sync_wave}}'
    spec:
      project: default
      source:
        repoURL: 'https://github.com/maximilianoPizarro/connectivity-link.git'
        targetRevision: main
        path: '{{.path}}'
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{{.namespace}}'
      syncPolicy:
        automated:
          selfHeal: true
          prune: false
        syncOptions:
          - CreateNamespace=true
          - SkipDryRunOnMissingResource=true
          - RespectIgnoreDifferences=true
      ignoreDifferences:
        - group: apiextensions.k8s.io
          kind: CustomResourceDefinition
          name: checlusters.org.eclipse.che