apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: connectivity-link-demo
  namespace: openshift-gitops
spec:
  generators:
    - list:
        elements:
          - name: namespaces
            namespace: openshift-gitops
            path: namespaces
            sync_wave: "1"

          - name: operators
            namespace: openshift-gitops
            path: operators
            sync_wave: "2"

          - name: rhbk
            namespace: rhbk-operator
            path: rhbk
            sync_wave: "2"

          - name: developer-hub
            namespace: developer-hub
            path: developer-hub
            sync_wave: "2"

          - name: servicemeshoperator3
            namespace: openshift-operators
            path: servicemeshoperator3
            sync_wave: "3"

          - name: rhcl-operator
            namespace: openshift-operators
            path: rhcl-operator
            sync_wave: "3"

          - name: neuralbank-stack
            namespace: neuralbank-stack
            path: neuralbank-stack
            sourceType: Helm
            sync_wave: "5"

          - name: workshop-pipelines
            namespace: workshop-pipelines
            path: workshop-pipelines
            sourceType: Helm
            sync_wave: "5"

  template:
    metadata:
      name: '{{name}}'
    spec:
      project: default
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{{namespace}}'
      source:
        repoURL: 'https://gitlab.com/maximilianoPizarro/connectivity-link.git'
        targetRevision: main
        path: '{{path}}'
        helm:
          valueFiles:
            - values.yaml
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true