apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: connectivity-link-demo
  namespace: openshift-gitops
spec:
  generators:
    - list:
        elements:
          - name: namespaces
            namespace: openshift-gitops
            path: namespaces   
          - name: operators
            namespace: openshift-gitops
            path: operators
          - name: rhbk
            namespace: rhbk-operator
            path: rhbk      
          - name: developer-hub
            namespace: developer-hub
            path: developer-hub
          - name: servicemeshoperator3
            namespace: openshift-operators
            path: servicemeshoperator3
          - name: rhcl-operator
            namespace: openshift-operators
            path: rhcl-operator                                         
          - name: neuralbank-stack
            namespace: neuralbank-stack
            path: neuralbank-stack
  template:
    metadata:
      name: '{{name}}'   
    spec:
      project: default
      source:
        repoURL: 'https://github.com/maximilianoPizarro/connectivity-link.git'
        targetRevision: main
        path: '{{path}}'
        kustomize:
          namePrefix: '' 
          nameSuffix: '' 
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: '{{namespace}}'
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true