apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helmchartrepository.yaml
  - role.yaml

# Note: values.yaml is not a Kubernetes resource, it's used by ArgoCD for Helm chart values
# It should not be included in kustomization.yaml

namespace: workshop-pipelines