apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - template/helmchartrepository.yaml
  - template/role.yaml
  - template/db-secret.yaml
  - template/db-pvc.yaml
  - template/db-sa.yaml
  - template/db-service.yaml
  - template/db-deployment.yaml
  - rolebinding.yaml

# Note: values.yaml is not a Kubernetes resource, it's used by ArgoCD for Helm chart values
# It should not be included in kustomization.yaml

namespace: workshop-pipelines