apiVersion: apps/v1
kind: Deployment
metadata:
  name: neuralbank-db
  labels:
    app: neuralbank-db
    app.openshift.io/runtime: postgresql
  annotations: {}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: neuralbank-db
  template:
    metadata:
      labels:
        app: neuralbank-db
    spec:
      securityContext:
        runAsNonRoot: true
        fsGroup: 1000
      containers:
        - name: postgresql
          image: postgres:15-alpine
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 1000 
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          ports:
            - containerPort: 5432
              name: postgresql
          env:
            - name: POSTGRES_DB
              value: "{{ .Values.global.postgresql.auth.database }}"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "{{ .Values.global.postgresql.auth.postgresPassword }}"
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: neuralbank-db-pvc