apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  #- keycloak-authpolicy.yaml
  #- neuralbank-oidc-callback.yaml
  - rolebinding.yaml
  - oidc-policy.yaml
  - kuadrant.yaml
  - neuralbank-route.yaml
  - ratelimit-policy-customers.yaml
  - consoleplugin-connectivity-link.yaml

namespace: neuralbank-stack
