apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - neuralbank-route.yaml
  - neuralbank-callback-route.yaml
  - oidc-policy.yaml
  - kuadrant.yaml

namespace: neuralbank-stack
