librechat:
  global:
    librechat:
      existingSecretApiKey: OPENAI_API_KEY
      existingSecretName: librechat-librechat-secretenv
  image:
    pullPolicy: IfNotPresent
    registry: ghcr.io
    repository: danny-avila/librechat
    tag: 'v0.8.0-rc4'
  imagePullSecrets: []

  route:
    enabled: true  
    host: 'librechat.apps.cluster-gpzvq.gpzvq.sandbox670.opentlc.com'

  ingress:
    annotations: {}
    className: ''
    enabled: false
    hosts:
      - host: librechat.openshiftapps.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls: []
  librechat:
    namespace: librechat
    persistence:
      enabled: true
      storageClassName: gp3-csi  # Storage class liviana para volúmenes pequeños
      uploads:
        size: 1Gi
      data:
        size: 1Gi
      logs:
        size: 1Gi
      apiLogs:
        size: 1Gi
    configEnv:
      SEARCH: 'true'
      MEILI_NO_ANALYTICS: 'true'
      MEILI_MASTER_KEY: librechat
      EMBEDDINGS_PROVIDER: ollama
      OLLAMA_BASE_URL: http://librechat-ollama:11434/v1
      EMBEDDINGS_MODEL: nomic-embed-text
      DEBUG_MCP: 'true'
      DEBUG_CONSOLE: 'true'
      RHDH_HOST: https://backstage-developer-hub-developer-hub.apps.cluster-gpzvq.gpzvq.sandbox670.opentlc.com
      RHDH_MCP_TOKEN: backstage
      LLM_SERVER_ID: llama-3-2-3b
      LLM_SERVER_TOKEN: 0d730b5c1bc2bc24fd657bf4ded0ba72
      LLM_SERVER_URL: https://llama-3-2-3b-maas-apicast-production.apps.prod.rhoai.rh-aiservices-bu.com:443/v1
      OPENAI_API_KEY: IiI=
      NODE_TLS_REJECT_UNAUTHORIZED: '0'
      CREDS_IV: 118a16ffe26a8712d0adb5b3cf8229ca
      CREDS_KEY: 99f12ba0ea72257aa78df8e99c9be801716a7e16fe77e7510a914112528aa05c
      DEBUG_PLUGINS: 'true'
      JWT_REFRESH_SECRET: 8a447c316c171f5df8e304c085187b6d10e4eeef5174137d4ad4d2cdd956f5e7
      JWT_SECRET: 83096493d70e22561f84191c24f459d72e9b41f4c8657fe43aae8cb9b0fe1fa4
      ALLOW_EMAIL_LOGIN: 'true'
      ALLOW_REGISTRATION: 'true'
      ALLOW_SOCIAL_LOGIN: 'true'
      DOMAIN_SERVER: 'https://librechat.apps.cluster-gpzvq.gpzvq.sandbox670.opentlc.com'
      DOMAIN_SERVER: 'https://librechat.apps.cluster-gpzvq.gpzvq.sandbox670.opentlc.com'
      OPENID_CALLBACK_URL: /oauth/openid/callback
      OPENID_LOGIN_ENABLED: 'true'
      OPENID_SESSION_SECRET: sessionsecret
      OPENID_ISSUER: 'https://rhbk.apps.cluster-gpzvq.gpzvq.sandbox670.opentlc.com/realms/backstage'
      OPENID_USE_END_SESSION_ENDPOINT: 'true'
      OPENID_CLIENT_ID: backstage
      OPENID_CLIENT_SECRET: FfzjFAAuQUGjZDtKUErTx9fOaqF7RV6m
      SOCIAL_LOGIN_ENABLED: 'true'
      OPENID_SCOPE: openid profile email
      OPENID_REQUIRED_ROLE_TOKEN_KIND: access
      OPENID_REQUIRED_ROLE_PARAMETER_PATH: realm_access.roles    
      PLUGIN_MODELS: >-
        gpt-4,gpt-4-turbo-preview,gpt-4-0125-preview,gpt-4-1106-preview,gpt-4-0613,gpt-3.5-turbo,gpt-3.5-turbo-0125,gpt-3.5-turbo-1106,gpt-3.5-turbo-0613,llama-3-1-8b-instruct
    configYamlContent: |-
      version: 1.0.3
      cache: true
      # fileStrategy: "firebase"  # If using Firebase CDN
      fileConfig:
        endpoints:
          assistants:
            fileLimit: 5
            fileSizeLimit: 10  # Maximum size for an individual file in MB
            totalSizeLimit: 50  # Maximum total size for all files in a single request in MB
            supportedMimeTypes:
              - "image/.*"
              - "application/pdf"        
          mcpServers:
            backstage-actions:
              type: streamable-http
              url: "https://backstage-developer-hub-developer-hub.apps.cluster-gpzvq.gpzvq.sandbox670.opentlc.com/api/mcp-actions/v1"
              headers:
                Authorization: "Bearer backstage"
              startup: true
          openAI:
            disabled: true  # Disables file uploading to the OpenAI endpoint
          default:
            totalSizeLimit: 20
          YourCustomEndpointName:
            fileLimit: 2
            fileSizeLimit: 5
        serverFileSizeLimit: 100  # Global server file size limit in MB
        avatarSizeLimit: 2  # Limit for user avatar image size in MB
      rateLimits:
        fileUploads:
          ipMax: 100
          ipWindowInMinutes: 60  # Rate limit window for file uploads per IP
          userMax: 50
          userWindowInMinutes: 60  # Rate limit window for file uploads per user
      #registration:
      #  socialLogins: ["google", "facebook", "github", "discord", "openid"]
      #  allowedDomains:
      #    - "email"
      #    - ".apps.cluster-26wbn.26wbn.sandbox691.opentlc.com"
      endpoints:
        assistants:
          fileLimit: 5
          fileSizeLimit: 10   # Maximum size for an individual file in MB
          totalSizeLimit: 50  # Maximum total size for all files in a single request in MB
          supportedMimeTypes:
            - "image/.*"
            - "application/pdf"
        custom:
          - name: "Ollama"
            apiKey: "IiI="
            baseURL: "http://librechat-ollama:11434/v1" # Adjust if Ollama is on a different host
            models:
              default: ["llama2"] # Example models, fetch from your Ollama instance
              fetch: true
            titleConvo: true
            titleModel: "llama2"
            summarize: false
            summaryModel: "llama2"
          - name: "llama-3-2-3b"
            apiKey: "0d730b5c1bc2bc24fd657bf4ded0ba72"
            baseURL: "https://llama-3-2-3b-maas-apicast-production.apps.prod.rhoai.rh-aiservices-bu.com:443/v1"
            models:
              default: ["llama-3-2-3b"]
            titleConvo: true
            titleModel: "llama-3-2-3b"
            summarize: false
            summaryModel: "llama-3-2-3b"
    existingConfigYaml: ''
    existingSecretName: librechat-librechat-secretenv
    serviceAccountName: librechat-sa
    imageVolume:
      accessModes: ReadWriteOnce
      enabled: true
      size: 10G
  librechat-rag-api:
    embeddingsProvider: openai
    enabled: true
  lifecycle: {}
  meilisearch:
    auth:
      existingMasterKeySecret: librechat-librechat-secretenv
    enabled: true
    image:
      tag: v1.7.3
    persistence:
      enabled: true
      storageClass: ''
    serviceAccountName: librechat-meilisearch-sa
  postgresql:
    auth:
      database: librechat-vectordb
      username: postgres
      password: postgres 
    enabled: true
    image:
      registry: ghcr.io
      repository: bat-bs/bitnami-pgvector
      tag: pg16

    primary:
      initdb:
        scripts:
          create-librechat-db.sql: |
            -- Ensure the database exists
            CREATE DATABASE "librechat-vectordb" WITH OWNER postgres;

            -- Connect to the new database and create the pgvector extension
            \c librechat-vectordb
            CREATE EXTENSION IF NOT EXISTS vector;

            -- CREATE USER postgres WITH PASSWORD 'postgres';
            -- GRANT ALL PRIVILEGES ON DATABASE "librechat-vectordb" TO postgres;
  mongodb:
    image:
      pullPolicy: IfNotPresent
      registry: docker.io
      repository: mongo
      tag: '8.0.13'
    auth:
      enabled: false
    databases:
      - LibreChat
    enabled: true
    extraVolumeMounts:
      - name: datadir
        mountPath: /data/db
  ollama:
    enabled: true

  nameOverride: ''
  nodeSelector: {}
  podAnnotations: {}
  podLabels: {}
  podSecurityContext: {}
  replicaCount: 1
  resources:
    requests:
      cpu: "500m"
      memory: "1Gi"
    limits:
      cpu: "1"
      memory: "2Gi"
  securityContext: {}
  service:
    annotations: {}
    port: 3080
    type: ClusterIP
  tolerations: []
  updateStrategy:
    type: RollingUpdate
  volumeMounts:
    - name: librechat-data-volume
      mountPath: /app/data
    - name: librechat-uploads-volume
      mountPath: /app/uploads
    - name: librechat-logs-volume
      mountPath: /app/logs
    - name: librechat-api-logs-volume
      mountPath: /app/api/logs
    - name: keycloak-auth-config
      mountPath: /app/api/data/auth.json
      subPath: auth.json
      readOnly: true
  volumes:
    - name: librechat-uploads-volume
      persistentVolumeClaim:
        claimName: librechat-uploads
    - name: librechat-data-volume
      persistentVolumeClaim:
        claimName: librechat-data
    - name: librechat-logs-volume
      persistentVolumeClaim:
        claimName: librechat-logs
    - name: librechat-api-logs-volume
      persistentVolumeClaim:
        claimName: librechat-api-logs
    - name: keycloak-auth-config
      configMap:
        name: librechat-keycloak-auth